[user]
    email = josh@joshelliott.me
    name = Josh

[github]
    username = MeJosh

[init]
    defaultBranch = main

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
